# Package Files #
*.jar
*.war
*.ear

# Project Exclude #
.settings
.project
*.class
.classpath
#pom.xml
bin
target
work

# Special Exclude#
#SinaWeibo2Connector.java
#ProviderConnectorImpl.java
/.tomcatplugin
